body {
    background-color: rgb(234,233, 229);
    margin: 0;
}

main div ul{
    background-color: rgb(51,51, 51);
}

ul{
    padding-left:0;
}

main div ul{
    margin : 0;
}

/*INIZIO INTESTAZIONE*/


#intestazione {
    display: block;
    color: white;
    width: 28%;
    height : 20px;
    margin: 0 36%;
    border-top: 1px solid rgb(246, 164, 84);
    border-right: 1px solid rgb(246, 164, 84);
    border-left: 1px solid rgb(246, 164, 84);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    list-style: none;
}

#intestazione h2 {
    padding-top:3.2px;
    width: 80%;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

#intestazione a {
    color:white;
    text-decoration: none;
}

#intestazione a:hover {
    color:rgb(246, 164, 84);
}

#liLogoSubCat {
    width: 20%;
    float: right;
    padding-top: 0px;
    margin:0;
}

#liLogoSubCat img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5px;
    height: 15px;
}
/*FINE INTESTAZIONE, INIZIO LOCANDINE*/

#descrizione {
    padding-bottom: 35px;
    vertical-align: top;
    margin-bottom: 30px;
    height : 200px;
    width:90%;
    margin-left: 5%;
    border: 3px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    display: inline-block;
    overflow: hidden;
}

#descrizione li p {
    border: 2px solid rgb(246, 164, 84);
    background-color: rgba(246, 164, 84, 0.3);
    width: 100px;
    margin-top: 7%;
    margin-left: 3%;
    margin-right:3%;
    height: 100px;
    float: left;
}

article {
    text-align: left;
    color: rgb(234,233, 229);
    font-size: 75%;
    padding: 3%;   

}

#oggetti, #tabella {
    vertical-align: top;
    margin:0;
    margin-bottom: 30px;
    color: white;
    height : 100px;
    width:90%;
    margin-left: 5%;
    border:0;
    border-top: 1px solid rgb(246, 164, 84);
    border-bottom: 1px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    text-align: center;
    list-style: none;
    display: inline-block;
}

#oggetti > iframe {
    width: 100% !important;
    height: 100% !important;
  }

  iframe {
      border-radius: 10px;
  }

.linkEsterni{
    width: 40%;
    height: 20%;
    margin: 12.5px 3%;
    display: inline-block;
    border: 1.5px solid rgb(246, 164, 84);
    border-radius: 7px;

  }

.linkEsterni p {
    
    text-decoration: none;
    color: rgb(234,233, 229);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-style: italic;
}

table {
    width: 90%;
    margin: 2.5% 5%;
    height: 95%;
    font-size: 150%;
    
}

th {
    border: 1px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51,51, 51);
    background-color: rgb(246, 164, 84);
    height: 45px;
}

tbody td {
    border: 1px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51,51, 51);
    background-color: rgb(234,233, 229);
    height: 45px;
}

tfoot td {
    border: 1px solid rgb(234,233, 229);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(51,51, 51);
    height: 45px;
}

tfoot td:nth-of-type(1) {
    border: 1px solid rgb(51,51, 51);
}

tfoot td a {
    text-decoration: none;
    color: rgb(234,233, 229);
    font-weight: bolder;
    font-style: italic;
}

#tabella {
    height: 400px;
}

/* INIZIO DESKTOP*/

@media screen and (min-width: 768px) {
    
    /*INIZIO INTESTAZIONE DESKTOP*/

    #intestazione {
        height : 40px;
        border-top: 2px solid rgb(246, 164, 84);
        border-right: 2px solid rgb(246, 164, 84);
        border-left: 2px solid rgb(246, 164, 84);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
    }
    
    #intestazione h2 {
        padding-top: 6.4px;
        padding-left:5%;
        width: 75%;
        float: left;
        text-align: center;
        vertical-align: middle;
        margin: 0;
    }
    
    #liLogoSubCat img{
        margin-top: 7.5px;
        height: 25px;
    }
    
    /*FINE INTESTAZIONE DESKTOP, INIZIO LOCANDINE DESKTOP*/
    #descrizione {
        width:75%;
        margin-left: 12.5%;
        overflow: hidden;
    }
    
    #descrizione li p {
        border: 2px solid rgb(246, 164, 84);
        background-color: rgba(246, 164, 84, 0.3);
        width: 150px;
        margin-top: 3.5%;
        margin-left: 3%;
        margin-right:3%;
        height: 150px;
        float: left;
    }
    
    article {
        text-align: left;
        color: rgb(234,233, 229);
        font-size: 100%;
        padding: 3%;   
       
    }
    
    iframe {
        height: 300px;
    }

    #oggetti, #tabella {
        margin-bottom: 45px;
        height : 300px;
        border: 0;
        width:75%;
        margin-left: 12.5%;
        border: 2px solid rgb(246, 164, 84);
        border-radius: 10px;
        font-size: 100%;
    }
    
    #tabella {
        height: 400px;
        width: 75%;
        margin-left: 12.5%;
    }

    table {
        width: 90%;
        margin: 2.5% 5%;
        height: 85%;
        font-size: 150%;
        
    }
   
    .linkEsterni{
        width: 40%;
        height: 20%;
        margin: 35px 3%;
        display: inline-block;
        border: 1.5px solid rgb(246, 164, 84);
        border-radius: 7px;
    }
  }

 
  @media screen and (min-width: 560px){
    #liLocandina:nth-child(6){
        display: inline-block;
        }
    #liLocandina {
        width: 16.8%;
    }
  }

  @media screen and (min-width: 880px){
    #liLocandina:nth-child(7){
        display: inline-block;
        }
    #liLocandina {
        width: 14%;
    }
}