body {
    background-color: rgb(234,233, 229);
    margin: 0;
    
}

header, div h2, div img, div ul, footer {
    background-color: rgb(51,51, 51);
}

fieldset {
    border-style: hidden;
    width:80%;
    padding-top: 0;
}


header {
    margin-bottom:2%;
    height: 1%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
}

header ul {
    display: inline-block;
    width: 19%;
    list-style: none;
}


#menuAPanino {
    height: 50%;
    width: 50%;
   
}

#logoalto {
    height: 100%;
    width: 100%;
}

#Evento {
    width: 30%;
    height: 40%;
}

#Cerca {
    width:30%;
    height: 40%;
}

select {
    border: 2px solid rgb(246, 164, 84);
    border-top-left-radius: 30px;
    border-bottom-left-radius:30px;
    width: 300%;
    height: 500%;
}

header ul li select option {
    width: 30%;
}

input {
    border: 2px solid rgb(246, 164, 84);
    border-top-right-radius: 30px;
    border-bottom-right-radius:30px;
    width: 300%;
    height: 500%;
}

#sinistra {
    text-align:left;
    width: 32%;
    margin-left:3%;
}

#centro {
    display: inline-block;
    text-align:center;
    width: 28%;
    margin: 0 5% 0 0;
    height: 70%;
}

#destra {
    text-align:right;
    width: 30%;
}

div ul li img {
    height: 75%;
    width: 75%;
}


main #freccia {
    width: 2%;
    padding-bottom: 7%;
    padding-left: 1%;
    padding-right: 1%;
}

ul li{
    display: inline-block;
    width: 22%;
    list-style: none;
    text-align: center;
}

#oggetti li {
    color : white;
    padding-top: 2%;
    margin: 0;
    border: 0;
}

#oggetti li img {
    border: 2px solid white;
}

#oggetti {
    margin: 0;
    border-top: 2px solid rgb(246, 164, 84);
    border-bottom: 2px solid rgb(246, 164, 84);
    margin-bottom:2%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
}

#intestazione {
    color: white;
    width: 28%;
    text-align: center;
    margin: 0 36%;
    border-top: 2px solid rgb(246, 164, 84);
    border-right: 2px solid rgb(246, 164, 84);
    border-left: 2px solid rgb(246, 164, 84);
    border-top-left-radius: 30px;
    border-top-right-radius:30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
}

#intestazione h2 {
    margin: 0 0 0 0;
}

#logoSubCat {
    width: 10%;
    height: 10%;
    padding:0 20% 0 0; 
}

#logoSubCat img {
    text-align: right;
    margin-left: 300%;
}

#Lente {
    width: 40%;
    height: 30%;
    padding:2% 0 0 0; 
    text-align:right;
}

#Lente img {
    width: 10%;
    height: 10%;
    padding: 0 0 0 0;
}


footer ul li p {
    padding-right: 100%;
    margin: 0 0 0 0;
}

ul {
    padding: 0%;
}

footer {
    color:white;
    height: 2%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
}


footer ul {
    margin : 0;
}

footer ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    width: 22%;
}

#logoinfo  {
    width: 50%;
}
#logobasso {
    height : 25%;
    width : 25%;
    padding-left: 300%;
}
#primo {
    width: 5%;
}
