body {
    background-color: rgb(234,233, 229);
    margin: 0;
}

header, main div ul, footer {
    background-color: rgb(51,51, 51);
}

ul{
    padding-left:0;
}

/*INIZIO HEADER*/


header {
    margin-bottom: 30px;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40%;
}

header ul {
    padding: 0;
    margin: 0;
}

header ul li{
    display: inline-block;
    list-style: none;
}

#liMenuAPanino {
    float:left;
    margin-top:5px;
    width: 10%;
}

#liMenuAPanino img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
}


#liSelectEvento{
    margin-top: 5px;
    vertical-align: middle;
    height: 30px;
    width: 20%;
}

#liCerca {
    margin-top: 5px;
    vertical-align: middle;
    height: 30px;
    width: 43%;
}

#liLente {
    margin-top: 5px;
    vertical-align: middle;
    height: 29px;
    width: 5%;
    background-color : white;
    border-top: 1px solid rgb(246, 164, 84);
    border-right: 1px solid rgb(246, 164, 84);
    border-bottom: 1px solid rgb(246, 164, 84);
    border-left: 1px solid rgb(246, 164, 84);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#liLente:hover{
    background-color : rgb(246, 164, 84);
}

#liLente img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:6.5px;
    height: 15px;
}

#liLogoAlto {
    float:right;
    height: 40px;
    width: 21%;
}

#liLogoAlto img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1px;
    height: 38px;
}

select{
    height: 30px;
    width:100%;
    border: 1px solid rgb(246, 164, 84);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 200%;
}

select:hover {
    color:white;
    background-color : rgb(246, 164, 84);
    cursor: pointer;
}

fieldset {
    height: 26px;
    width:100%;
    border-style: hidden;
    margin:0;
    padding:0;
}

input {
    height: 26px;
    width:100%;
    border-style: none;
    border-top: 1px solid rgb(246, 164, 84);
    border-bottom: 1px solid rgb(246, 164, 84);
    font-size: 100%;
}

/*FINE HEADER, INIZIO INTESTAZIONE*/
main div ul{
    margin : 0;
}

#intestazione {
    color: white;
    width: 28%;
    height : 20px;
    margin: 0 36%;
    border-top: 1px solid rgb(246, 164, 84);
    border-right: 1px solid rgb(246, 164, 84);
    border-left: 1px solid rgb(246, 164, 84);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55%;
    display: inline-block;
    list-style: none;
}

#intestazione h2 {
    padding-top: 2px;
    padding-left:5%;
    width: 75%;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

#intestazione a {
    color:white;
    text-decoration: none;
}

#intestazione a:hover {
    color:rgb(246, 164, 84);
}

#liLogoSubCat {
    width: 20%;
    float: right;
    padding-top: 0px;
    margin:0;
}

#liLogoSubCat img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5px;
    height: 15px;
}

/*FINE INTESTAZIONE, INIZIO LOCANDINE*/

#oggetti {
    margin-bottom: 30px;
    color: white;
    height : 100px;
    width:100%;
    border-top: 1px solid rgb(246, 164, 84);
    border-bottom: 1px solid rgb(246, 164, 84);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    text-align: center;
    display: inline-block;
    list-style: none;
}


#liFrecciaSx {
    width:  5%;
    float:left;
}

#liFrecciaSx img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    height: 10px;
}

#liFrecciaDx {
    width:  5%;
    float:right;
}

#liFrecciaDx img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    height: 10px;
}

#liLocandina {
    width : 22.5%;
    padding-top: 5px;
    height: 95px;
    color : white;
    margin: 0;
    border: 0;
    display: inline-block;
    list-style : none;
    text-align : center;
}

#liLocandina:nth-child(6){
    display: none;
}

#liLocandina img {
    border: 1px solid white;
    height: 65px;
}

#liLocandina img:hover{
    border: 1px solid rgb(246, 164, 84);
}

#liLocandina h3 {
    margin : 0;
}

/*INIZIO FOOTER*/

footer ul li p {
    margin:0;
    float:left;
}

footer {
    color:white;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap;
    font-size: 100%;
}

footer ul {
    margin : 0;
    padding : 0;
}

footer ul li{
    display: inline-block;
    list-style: none;
}


#liInfo{
    width:3%;
    float:left;
    padding-left:1%;
}

#liInfo img {
    height: 20px;
    float:left;
}

#liInfo img:hover {
    background-color: rgb(246, 164, 84);
    border-radius: 50px;
}

#liScrittaInfo{
    padding-left: 5%;
    width:80%;
}


#liLogoBasso {
    width: 10%;
    float:right;
    padding-right:1%;
}

#liLogoBasso img {
    height: 20px;
    float:right;
}

/*INIZIO DESKTOP*/

@media only screen and (min-width: 961px) {
    
    header {
        margin-bottom: 45px;
        height: 60px;
        font-size: 80%;
    }

    #liMenuAPanino {
        margin-top:7.5px;
    }
    
    #liMenuAPanino img{
        height: 45px;
    }

    #liSelectEvento{
        margin-top: 7.5px;
        height: 45px;
    }
    
    #liCerca {
        margin-top: 7.5px;
        height: 45px;
    }
    
    #liLente {
        margin-top: 7.5px;
        height: 42px;
        border: 1.5px solid rgb(246, 164, 84);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    
    #liLente img{
        padding-top:9.75px;
        height: 22.5px;
    }
    
    #liLogoAlto {
        height: 60px;
    }
    
    #liLogoAlto img{
        padding-top: 1.5px;
        height: 57px;
    }
    
    select{
        height: 45px;
        border: 1.5px solid rgb(246, 164, 84);
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        font-size: 300%;
    }
    
    fieldset {
        height: 39px;
    }
    
    input {
        height: 40px;
        border-top: 1.5px solid rgb(246, 164, 84);
        border-bottom: 1.5px solid rgb(246, 164, 84);
        font-size: 150%;
    }
    
    /*FINE HEADER DESKTOP, INIZIO INTESTAZIONE DESKTOP*/
    
    #intestazione {
        height : 30px;
        border-top: 1.5px solid rgb(246, 164, 84);
        border-right: 1.5px solid rgb(246, 164, 84);
        border-left: 1.5px solid rgb(246, 164, 84);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 77.5%;
    }
    
    #intestazione h2 {
        padding-top: 3 px;
    }
    
    
    #liLogoSubCat img{
        margin-top: 3.75px;
        height: 22.5px;
    }
    
    /*FINE INTESTAZIONE DESKTOP, INIZIO LOCANDINE DESKTOP*/
    
    #oggetti {
        margin-bottom: 45px;
        height : 150px;
        border-top: 1.5px solid rgb(246, 164, 84);
        border-bottom: 1.5px solid rgb(246, 164, 84);
        font-size: 75%;
    }
    
    #liFrecciaSx img{
        margin-top: 67.5px;
        height: 15px;
    }
    
    #liFrecciaDx img{
        margin-top: 67.5px;
        height: 15px;
    }
    
    #liLocandina {
        width: 18%;
        padding-top: 7.5px;
        height: 142.5px;
    }
    
    #liLocandina:nth-child(6){
    display: inline-block;
    }

    #liLocandina img {
        border: 1.5px solid white;
        height: 97.5px;
    }
    
    #liLocandina img:hover{
        border: 1.5px solid rgb(246, 164, 84);
    }
    
    /*INIZIO FOOTER DESKTOP*/
    
    footer {
        height: 30px;
        font-size: 150%;
    }
    
    #liInfo img {
        height: 30px;
    }
    
    #liInfo img:hover {
        border-radius: 75px;
    }
    
    #liLogoBasso img {
        height: 30px;
    }

  }