body {
    background-color: rgb(234,233, 229);
    margin: 0;
}
/*HEADER*/
#liAccount h1{
    color: rgb(246, 164, 84);
}

main div ul{
    background-color: rgb(51,51, 51);
}

ul{
    padding-left:0;
}

main div ul{
    margin : 0;
}

/*INIZIO INTESTAZIONE*/

#intestazione h2 {
    padding-top:3.2px;
    width: 60%;
    padding:0;
    vertical-align: middle;
}


#intestazione {
    display: block;
    color: white;
    width: 20%;
    height : 20px;
    margin: 0 40%;
    border-top: 1px solid rgb(246, 164, 84);
    border-right: 1px solid rgb(246, 164, 84);
    border-left: 1px solid rgb(246, 164, 84);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    list-style: none;
}

#intestazione a {
    padding: 0;
    width: 65%;
    color:white;
    text-decoration: none;
}


/*FINE INTESTAZIONE, INIZIO LOCANDINE*/

#oggetti {
    vertical-align: top;
    margin-bottom: 30px;
    color: white;
    height : 300px;
    width:60%;
    margin-left: 20%;
    border: 3px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    text-align: center;
    list-style: none;
    display: inline-block;
}

#oggetti li {
    margin: 30px 0px;
}

#oggetti label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    float: left;
    margin-left:5%;
    width: 40%;
    text-align: left;
}

.form{
    width: 50%;
    display:block;
    border: 2px solid rgb(246, 164, 84);
    border-radius: 10px;
}

#oggetti select{
    height: 38px;
    width: 50%;
    display:block;
    border: 2px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-size: 150%;
}

textArea {
    width: 90%;
    height: 80%;
    vertical-align: middle;
    padding: 0;
    margin: 5%;
    border: 2px solid rgb(246, 164, 84);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    border-radius: 10px;
    resize: none;
}

#descrizione {
    padding-bottom: 35px;
    vertical-align: top;
    margin-bottom: 30px;
    height : 300px;
    width:60%;
    margin-left: 20%;
    border: 3px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    display: inline-block;
}

#immagine {
    vertical-align: top;
    margin-bottom: 30px;
    height : 250px;
    width:60%;
    margin-left: 20%;
    border: 3px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    display: inline-block;

}

#immagine li p {
    border: 2px solid rgb(246, 164, 84);
    background-color: rgba(246, 164, 84, 0.3);
    width: 15%;
    margin-left: 42.5%;
    height: 150px;
}

#file {
    width: 13%;
    margin: 0 43.5%;
    height: 10%;
    border-radius: 10px;
    text-align:center;
    float:center;
}

#termina {
    display: block;
    color: white;
    background-color: rgb(51, 51, 51);
    margin-left: 40%;
    width: 20%;
    height : 60px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    margin-bottom: 45px;
    box-shadow: 8px 8px 2px rgb(51,51, 51, 0.6);
}

#termina a {
    text-decoration: none;
    color: white;
}

#termina:hover {
    border: 2px solid rgb(246, 164, 84);
}

#termina:hover a{
    color:rgb(246, 164, 84);
}


/* INIZIO DESKTOP*/

@media screen and (min-width: 768px) {
    
    /*INIZIO INTESTAZIONE DESKTOP*/

    #intestazione {
        height : 40px;
        border-top: 2px solid rgb(246, 164, 84);
        border-right: 2px solid rgb(246, 164, 84);
        border-left: 2px solid rgb(246, 164, 84);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
    }
    
    #intestazione h2 {
        padding-top: 6.4px;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        margin: 0;
    }
    
    /*FINE INTESTAZIONE DESKTOP, INIZIO LOCANDINE DESKTOP*/
    
    #oggetti {
        margin-bottom: 45px;
        height : 450px;
        border-top: 2px solid rgb(246, 164, 84);
        border-bottom: 2px solid rgb(246, 164, 84);
        font-size: 100%;
    }
  
  }
  
  @media screen and (min-width: 560px){
  
  }

  @media screen and (min-width: 880px){
 
  }
