body {
    background-color: rgb(234,233, 229);
    margin: 0;
}

main div ul{
    background-color: rgb(51,51, 51);
}

ul{
    padding-left:0;
}

main div ul{
    margin : 0;
}

/*INIZIO INTESTAZIONE*/


#intestazione {
    display: block;
    color: white;
    width: 28%;
    height : 20px;
    margin: 0 36%;
    border-top: 1.5px solid rgb(246, 164, 84);
    border-right: 1.5px solid rgb(246, 164, 84);
    border-left: 1.5px solid rgb(246, 164, 84);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    list-style: none;
}

#intestazione h2 {
    padding-top:3.2px;
    width: 80%;
    float: left;
    text-align: center;
    vertical-align: middle;
    margin: 0;
}

#intestazione a {
    color:white;
    text-decoration: none;
}

#intestazione a:hover {
    color:rgb(246, 164, 84);
}

#liLogoSubCat {
    width: 20%;
    float: right;
    padding-top: 0px;
    margin:0;
}

#liLogoSubCat img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5px;
    height: 15px;
}


/*FINE INTESTAZIONE, INIZIO LOCANDINE*/

#oggetti {
    vertical-align: top;
    margin-bottom: 30px;
    color: white;
    height : 385px;
    width:90%;
    margin-left: 5%;
    border: 1.5px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
    text-align: center;
    list-style: none;
    display: inline-block;
}

#oggetti li {
    margin: 30px 0px;
}

#oggetti label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    float: left;
    margin-left:5%;
    width: 40%;
    text-align: left;
}

.form{
    width: 50%;
    display:block;
    border: 1.5px solid rgb(246, 164, 84);
    border-radius: 10px;
    float:left;
    margin-bottom: 30px;
    margin-top: -10px;
}


.hform {
    width: 22%;
    display: block;
    border: 1.5px solid rgb(246, 164, 84);
    border-radius: 10px;
    margin: 0 0;
    float: left;
    margin-bottom: 30px;
    margin-top: -10px;
}


.hform:nth-of-type(1) , .hform:nth-of-type(3){
    margin-right: 5%;
}


textArea {
    width: 90%;
    height: 90%;
    padding: 0;
    border: 1.5px solid rgb(246, 164, 84);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    margin-top: 3%;
    border-radius: 10px;
    resize: none;
}

#descrizione {
    vertical-align: top;
    margin-bottom: 30px;
    height : 250px;
    width:90%;
    margin-left: 5%;
    border: 3px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    display: inline-block;
}

#immagine {
    vertical-align: top;
    margin-bottom: 30px;
    height : 250px;
    width:60%;
    margin-left: 20%;
    border: 3px solid rgb(246, 164, 84);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    list-style: none;
    display: inline-block;

}

#immagine li p {
    border: 2px solid rgb(246, 164, 84);
    background-color: rgba(246, 164, 84, 0.3);
    width: 75%;
    margin-left: 12.5%;
    height: 150px;
}

#file {
    width: 136px;
    height: 7%;
    border-radius: 10px;
    border: 2px solid rgb(246, 164, 84);
    text-align:center;
    float:center;

}

#termina {
    display: block;
    color: rgb(51,51, 51);
    background-color: rgb(234,233, 229);
    margin-left: 40%;
    width: 20%;
    height : 60px;
    border: 4px solid rgb(51,51, 51);
    border-radius: 20px;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    margin-bottom: 45px;
    box-shadow: 8px 8px 2px rgb(51,51, 51, 0.6);
}

#termina {
    display: block;
    background-color: rgb(51,51, 51);
    margin-left: 20%;
    width: 60%;
    height : 40px;
    border: 2px solid rgb(234,233, 229);
    border-radius: 13px;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bolder;
    margin-bottom: 45px;
    box-shadow: 6px 6px 2px rgb(51,51, 51, 0.6);
}

#termina a {
    color: rgb(234,233, 229);
    text-decoration: none;
}

#termina:hover {
    background-color: rgb(246, 164, 84);
    cursor: pointer;
}

#termina:hover a {
    font-weight:bolder;
    
}  




/* INIZIO DESKTOP*/

@media screen and (min-width: 768px) {
    
    /*INIZIO INTESTAZIONE DESKTOP*/

    #intestazione {
        height : 40px;
        border-top: 2px solid rgb(246, 164, 84);
        border-right: 2px solid rgb(246, 164, 84);
        border-left: 2px solid rgb(246, 164, 84);
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 100%;
    }
    
    #intestazione h2 {
        padding-top: 6.4px;
        padding-left:5%;
        width: 75%;
        float: left;
        text-align: center;
        vertical-align: middle;
        margin: 0;
    }
    
    #liLogoSubCat img{
        margin-top: 7.5px;
        height: 25px;
    }
    /*FINE INTESTAZIONE DESKTOP, INIZIO LOCANDINE DESKTOP*/
    
    #oggetti {
        margin-bottom: 45px;
        width: 75%;
        margin-left: 12.5%;
        height : 435px;
        border-top: 2px solid rgb(246, 164, 84);
        border-bottom: 2px solid rgb(246, 164, 84);
        font-size: 100%;
    }

    .hform:nth-of-type(1) , .hform:nth-of-type(3){
        margin-right: 5.5%;
    }
    
    #descrizione {
        height: 350px;
        width: 75%;
        margin-left:12.5%;
    }

    textArea {
        width: 90%;
        height: 90%;
        margin: 1.5%;
        padding: 0;
        border: 2px solid rgb(246, 164, 84);
        font-family: Arial, Helvetica, sans-serif;
        font-size: 150%;
        border-radius: 10px;
        resize: none;
    }
    
    #file {
        width: 376px;
        height: 7%;
        border-radius: 10px;
        border: 2px solid rgb(246, 164, 84);
        text-align:center;
        float:center;
    
    }

    #immagine {
        width: 50%;
        margin-left:25%;
    }
    
    #immagine li p {
        border: 2px solid rgb(246, 164, 84);
        background-color: rgba(246, 164, 84, 0.3);
        width: 150px;
        margin: 20px auto;
        height: 150px;
    }

    #termina {
        width: 35%;
        margin-left:32.5%;
        font-size: 150%;
        height: 50px;
    }
  
  }
  
  @media screen and (min-width: 560px){
  
  }

  @media screen and (min-width: 880px){
 
  }
